$font-size: 14px;

// EeSelect
$font-size-mini: 12px;
$font-size-mini: 12px;
$font-size-small: 12px;
$font-size-middle: 16px;
$font-size-large: 20px;

$base-gap: 4px;

$icon-color-base: #45474d;
$primary-color: #1564ff;
$font-color: #1b1c1e;
$disabled-color: #d7d9de;
$border-color: #c9cdd4;

// EeSelect
$primary-text-color: #333333;
$secondary-text-color: #a8acb3;
$sub-color: #8592a6;
$font_sumary-color: #202d41;
$color-line: #e4e7ed;
$color-white: #fff;
$font-hint-color: #ced4e0;
$icon-color: #a8acb3;
$tips-color: #757980;

$base-radius: 4px;
// EeSelect
$base-border-radius: 4px;
$duration: 0.2s;

// 页面公共头部高度
$header-height: 48px;

$radio-bg-color: #e4e7ed;
$radio-color: $tips-color;
$radio-color--active: $font-color;
$radio-bg-color--active: $color-white;
